<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="yandextest">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <packages>
            <package name="com.gmail.rybakk1.tests.MailTest"/>
        </packages>
    </test>
</suite>